body{
    height: 100%;
    width: 100%;
}
.loading-container{
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loading-circle{
    width: 3%;
    height: 6%;
    border: 3px solid #607df1;
    border-bottom: 3px solid white;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
