.loading-container{
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader {
    width: 50px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#607df1 90%,#fff);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: 10px 10px;
    animation: jump 1s infinite linear;
  }
  @keyframes jump {
      20%{background-position: 0% 50%,50% 50%,100% 0%}
      40%{background-position: 0% 50%,50% 0%,100% 50%}
      60%{background-position: 0% 0%,50% 50%,100% 50%}
  }